<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0c0c12e242.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscar's Rewiew</title>
    <link rel="stylesheet" href="/styles/main.css"> 
</head>
<body>
    <header>
        <nav class="navegador">
            <a href="index">Oscar's Reviews</a>

           <div class="buscar">
                <input type="text" placeholder="Search">
                <div class="btn">
                 <i  class="fas fa-search icon"></i>
                </div>
            </div>

        </nav>
    </header>
</body>
</html>